<IfModule mod_rewrite.c>
    RewriteEngine On

    # Forward /api and /api/* to the Laravel bridge
    RewriteRule ^index\.php$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
